*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.orderSection{
    width: 600px;
    border: 2px black outset ;
    padding: 20px; 
    margin: 20px;
}

.statuSection{
    width: 600px;
    min-height: 100px;
    border: 2px black solid;
    margin: 20px;
}
.statuSection h2{
    text-align: center;
}
.order{
    display: flex;
}
.orderDetail, .orderStatus{
    width: 50%;
    height: 100%;
    border: 1px black solid;
    padding: 5px 2px;
    margin: 5px;
}
.orderDetail .orderCard {
    border: 1px solid black;
    margin: 3px;
    display: flex;
    flex-direction: column;
}

.orderDetailCard, .orderStatusCard{
    border-bottom: 1px solid black;
    padding: 5px 2px;
    margin: 15px;
}
.orderStatus{
    display: flex;
    flex-direction: column;
    
}
.orderStatus h3{
    text-align: center;
    padding: 5px;
}
.orderStatus h4{
    text-align: center;
    margin-bottom: 5px;
}
.orderStatus button{
    display: inline-block;
    margin: auto;
    padding: 5px;
}
.cardImg{
    text-align: center;
    width: 100%;
}