*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noDisplay{
    display: none;
}
.display{
    display: block;
    color: red;
    font-size: small;
}
.table-content{
    width: 100%;
}
.table{
    width: 100%;
    max-width: 1200px;  
    margin: auto;
}

.formSection{
    margin: 30px auto;
    padding: 10PX;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.formSection input{
    background-color: rgb(241, 243, 245);
}
.formSection input:focus{
    outline: 0 !important;
}
.valid {
    border: 1px solid green !important;
    box-shadow: rgba(255, 17, 17, 0.444) 0px 3px 8px;
  }
.invalid {
    border: 1px solid red !important;
    box-shadow: rgba(0, 250, 62, 0.472) 0px 3px 8px;
}
.formSection .textInput input{
    background-color: rgb(241, 243, 245);
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.form-row{
    display: flex;
    justify-content: space-evenly;
}
.inputGroup{
    width: 250px;
}
.inputGroup .multiChoice{
    margin: 10px;
}
.multiChoice{
    width: 50%;
}
.selctionGroup{
    margin: auto;
    width: 500px;
}
.btn{
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
}
#editBtn, #updateBtn{
    background-color:rgb(42, 187, 42);
    color: #fff;
}
#deleteBtn{
    background-color: crimson;
    color: #fff;
}
#cancelBtn{
    background-color: #f1f3f5;
    border: 0;
    border: 2px;
}
#subimiBtn{
    background-color: coral;
    color: #fff;
}

.sortBtn{
    display: flex;
    justify-content: center;
}
.sortBtn span{
    position: relative;
    padding-left: 5px;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: fit-content;
}
.iconSort i {
    position: absolute;
    top: 5px;
    left: 9px;
    /* background-color: aqua; */

}
/* .show{
    visibility: visible;
}
.noShow{
    visibility: hidden;
} */

.searchField{
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    align-items: center;
    /* gap: 20px; */
}
.searchField input{
    width: 90%;
    padding: 5px 15px;
    border: 3px solid #cbcbcb;
    /* border-right: 0; */
    border-radius: 7px;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}
.searchIcon i{
    width: fit-content;
    padding: 9px;
    color: #858585;
    border: 3px solid #cbcbcb;
    border-left: 0;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.cancelIcon i{
    width: fit-content;
    padding: 9px;
    color: #858585;
    border: 3px solid #cbcbcb;
    border-left: 0;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.redBorder:focus{
    box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px;
    outline: 2px solid red;
}